
body {
	font-size: 30px;
    font-family: sans-serif;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100vh;
}

.text {
    text-align: center;
}

span { 
	font-size: 1.1em;
}
